   <section class="about-card about-text" id="about">
        <!-- <h2>About</h2> -->
        <video
          src="../assets/cover-vid.mp4"
          playsinline="true"
          autoplay="true"
          loop="true"
          muted="true"
        ></video>
        <div class="video-overlay">
          <blockquote>
            JASH is an exquisite team of award-winning full-stack developers
            specialising in unicorn design and contact form labels. Our
            community is quite popular, but we are open for new projects -
            contact us via the form below!
          </blockquote>
        </div>
      </section>